name: Infracost cost estimate

on:
  workflow_dispatch:

jobs:
  infracost:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Setup Infracost
        uses: infracost/actions/setup@v3
        with:
          api-key: ${{ secrets.INFRACOST_API_KEY }}

      - name: Show cost estimate
        run: |
          infracost breakdown \
            --path . \
            --usage-file infracost-usage.yml \
            --format table
